.git
.github
.pytest_cache
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*
!.env.example

artifacts/
data/
logs/
models/
terraform/
tests/
Images/

dashboard/node_modules/
dashboard/dist/

*.log
*.zip
*.tar
*.tar.gz
